body {
  margin: 0;
  font-family: Arial;
  color: white;
}

/* GLASS CARD */
.card {
  background: rgba(0,0,0,0.7);
  padding: 20px;
  width: 380px;
  margin: 30px auto;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  text-align: center;
}

/* INPUT */
input,
textarea,
select {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

textarea {
  height: 80px;
  resize: none;
}

/* BUTTON */
button {
  background: #1976d2;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

/* TABLE */
table {
  width: 95%;
  margin: 30px auto;
  border-collapse: collapse;
  background: rgba(0,0,0,0.7);
}

th, td {
  padding: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  text-align: center;
}

h1 {
  padding-top: 20px;
}